.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  max-width: 1200px;
}
.item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 20rem;
  border-radius: 10px;
  padding: 2em;
}
